@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

body {
    background-color: #eee;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    color: #222227;
    margin-top: 0px;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300; 
    text-transform: uppercase;    
}

h3 {
   color: #f75c37;
   padding: 15px 0 15px 0;
}

h4 {
   color: #9e8a78;
}


p {
    line-height: 30px;
    margin-bottom: 25px;
}

.centered, .wrapper {
    text-align: center;   
}

.link {
    color: #eee;
    text-transform: uppercase; 
    font-size: 14px; 
}

.link:hover, .link:focus  {
    color: #9e8a78;
    text-decoration: none;
    outline: 0;
}

hr {
    width: 50%;
    margin: 0 auto;     
    border-top: 1px solid #f75c37;
    /*margin: 1em 0; */
    padding-bottom: 15px;    
}



/* Navbar */

.nav-container {
    font-weight: 800;
    font-size: 16px;        
}

.nav-r {
    justify-content: end;   
    padding-right: 20px; 
} 

.navbar-d {
    background: #222227;
    border-color: #222227;       
}

.choosen, .copyright  {
    color: #9e8a78;
}

.brand {
    color: #9e8a78;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;        
}


.navbar-toggler, .navbar-toggler:focus,
.hero-container a:hover, .footer_content a:hover,
.hero-container a:focus, .footer_content a:focus  {    
    border-style: none; 
    color: #eee;          
  }

.navbar-toggler-icon { 
    background-color: #9e8a78;  
    color: #eee;
    border-style: 1px solid #9e8a78; 
    border-radius: 20%;
}

.logo {
    margin-left: 50px;
}

.menu {
    float: right;
    margin-right: 20px;
}

#login, #logout, #profile  {
    margin-left: 10px;
    margin-top: 5px;
    background-color: #f75c37;
    color: #222227;
    font-weight: 600;   
    border-color: #f75c37;
    border-radius: 20px;    
    padding: 7px;   
}

.user_hello {
    color: #eee; 
    padding: 3px;
    margin-left: 30px;
}

/* Hero image container */

.hero-container {      
    background: url(../img/barbiera-hero.jpg) no-repeat center top; 
    min-height: 500px;
    width: 100%;
    margin-top: 80px;     
    padding-top: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;      
}

.hero-container a, 
.footer_sign_in a,
.btn-profile a {   
    color: #222227;  
    font-size: 20px;
    font-weight: 400;  
    background-color: #f16a48;
    border-color: #f75c37;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;     
}

#slogan {    
    color: #9e8a78; 
    font-size: 50px;    
    font-weight: 800;   
    text-transform: uppercase;  
    text-shadow: -2px -2px 7px rgba(0,0,0,.8), -2px -2px 3px rgba(255,255,255,.6);
}

.sl-box {
    height: 400px;    
    flex-direction: row;        
    align-items: flex-end;
    letter-spacing: 5px;
}

/* Services container */


.services {
    background-color:#e6e6e6;  
}

.icons {
    width: 35px; 
    height: 35px;   
}


/* Our staff container */

.staff {
    transition: transform 1s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

.staff:hover {   
    transform: scale(1.05);   
}


/* Gallery */

.gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery_wrapper {
    background-color:#e6e6e6;   
    padding-bottom: 30px;                
}

/* Buttons */

.btn-reg {    
    color: #222227;  
    font-size: 20px;
    font-weight: 400;  
    background-color: #f16a48;
    border-color: #f75c37;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
}

.btn-reg:hover,
.hero-container a:hover,
#login:hover, 
#logout:hover, 
#profile:hover,
.btn-profile a:hover,
.footer_sign_in a:hover  {
    background-color: #f75c37;
    color: #eee;
    transition: 0.5s;   
    text-decoration: none;
}

.btn-profile {
    height: 60px !important;
    border-style: none;
}


/* Forms */

.custom-label {
    justify-content: start;   
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 30px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* Profile table */

.btn-edit {    
    color: #222227 !important; 
    background-color: #eee !important;    
}

.btn-edit a {
    text-decoration: none;   
    color: #f75c37 !important;    
}

.btn-edit a:hover {
    color: #222227 !important;
    transition: 0.5s !important;       
}

.btn-delete { 
    text-decoration: none;
    color: #f75c37 !important; 
    background-color: #9e8a78 !important;   
}

.btn-delete a { 
    text-decoration: none;
    color: #eee !important;    
}

.btn-delete a:hover  {
    color: #222227 !important; 
    transition: 0.5s !important;    
}


/* Footer */

.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/barbiera-footer.jpg) no-repeat center top; 
    min-height: 300px;
    background-size: cover;
    /* position: fixed;  */
    width: 100%;     
    bottom: 0;     
    justify-content: space-between;    
}

.footer_sign_in a {   
    margin-right: 0px;
    padding: 10px;
    text-align: center;
}

.menu-r {
    justify-content: end;    
}

.footer_content {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);      
}

.footer_content h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}


/* Reasign bootstrap classes */

.card-img-top {
    height: 300px;
    width: 250px;
    object-fit: cover;
} 

#navbarDropdown {
    text-align: end;    
}

.w-50 {
    width: 600px !important;
}


/* Media  */
@media only screen and (max-width: 600px) {   
    .form-container {
        width: 100% !important;
    }
  }
