@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

body {
    background-color: #eee;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #222227;
    margin-top: 0px;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 300; 
    text-transform: uppercase;    
}

h3 {
   color: #f75c37;
   padding: 15px 0 15px 0;
}

h4 {
   color: #9e8a78;
}


p {
    line-height: 30px;
    margin-bottom: 25px;
}

.centered, .wrapper {
    text-align: center;   
}

.link {
    color: #eee;
    text-transform: uppercase; 
    font-size: 14px; 
}

.link:hover, .link:focus {
    color: #9e8a78;
    text-decoration: none;
    outline: 0;
}

hr {
    width: 50%;
    margin: 0 auto;     
    border-top: 1px solid #f75c37; 
    padding-bottom: 15px;    
}



/* Navbar */

.nav-container {
    font-weight: 800;
    font-size: 16px;        
}

.nav-r {
    justify-content: end;   
    padding-right: 10px; 
} 

.navbar-d {
    background: #222227;
    border-color: #222227;       
}

.choosen, .copyright  {
    color: #9e8a78;
}

.brand {
    color: #9e8a78;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;        
}


.navbar-toggler, .navbar-toggler:focus,
.hero-container a:hover, .footer_content a:hover,
.hero-container a:focus, .footer_content a:focus  {    
    border-style: none; 
    color: #eee;          
  }

.navbar-toggler-icon { 
    background-color: #9e8a78;  
    color: #eee;
    border-style: 1px solid #9e8a78; 
    border-radius: 20%;
}

.logo {
    margin-left: 50px;
    width: 70px;
    height: 70px;
}

.menu {
    float: right; 
    margin: 0;   
}

#login, #logout, #profile  {
    margin-left: 10px;
    margin-top: 5px;
    background-color: #f75c37;
    color: #222227;
    font-weight: 600;   
    border-color: #f75c37;
    border-radius: 20px;    
    padding: 7px;   
}

.user_hello {
    color: #f75c37; 
    padding: 3px;
    margin-left: 30px;
}

/* Hero image container */

.hero-container {      
    background: url("https://res.cloudinary.com/dlcmr6krf/image/upload/v1697479165/static/img/barbiera-hero.7c75cc9e51d2.jpg") no-repeat center top; 
    min-height: 500px;
    width: 100%;
    margin-top: 80px;     
    padding-top: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;      
}

.hero-container a, 
.footer_sign_in a,
.btn-profile a {   
    color: #222227;  
    font-size: 20px;
    font-weight: 400;  
    background-color: #f16a48;
    border-color: #f75c37;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;     
}

#slogan {    
    color: #9e8a78; 
    font-size: 50px;    
    font-weight: 800;   
    text-transform: uppercase;  
    text-shadow: -2px -2px 7px rgba(0,0,0,.8), -2px -2px 3px rgba(255,255,255,.6);
}

.sl-box {
    height: 450px;    
    flex-direction: row;        
    align-items: flex-end;
    letter-spacing: 5px;
}

/* Services container */


.services {
    background-color:#e6e6e6;  
}

.icons {
    width: 35px; 
    height: 35px;
    margin: 10px;   
}

.service_description {
    padding: 0 15px;
    margin-bottom: 30px;
}


/* Our staff container */

.staff {
    transition: transform 1s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

.staff:hover {   
    transform: scale(1.05);   
}


/* Gallery */

.gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery_wrapper {
    background-color:#e6e6e6;   
    padding-bottom: 30px;                
}

.gallery_img {
    width: 250px;
    height: 300px;
}

/* Anchors */

#our_services,
#our_staff,
#gallery {
    scroll-margin-top: 100px;
}

/* Buttons */

#submit-id-submit {
    background-color: #f16a48;
    border-color: #f75c37;
    border-radius: 20px;
    color: #222227 !important;     
}

#submit-id-submit:hover {
    color: #eee !important;  
    transition: 0.5s !important;  
}

.btn-reg {    
    color: #222227;  
    font-size: 20px;
    font-weight: 400;  
    background-color: #f16a48;
    border-color: #f75c37;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
}

.btn-reg:hover,
.hero-container a:hover,
#login:hover, 
#logout:hover, 
#profile:hover,
.btn-profile a:hover,
.footer_sign_in a:hover,
.btn-book:hover {
    background-color: #f75c37;
    color: #eee;
    transition: 0.5s;   
    text-decoration: none;
}

.btn-profile {
    height: 100px !important;
    border-style: none;
}

.btn-book {
    background-color: #f75c37;  
    border-color: #f75026; 
    color: #222227;
    padding: 5px 25px;
    border-radius: 20px; 
}

.btn-table {
    padding: 5px 10px;
    color: #222227; 
    border-radius: 20px;
    border-style: none;   
    width: 100%;
    height: 100%; 
}

.btn-edit {     
    background-color: #6f88ad;
}

.btn-edit:hover,
.btn-delete:hover {
    color: #eee;
    transition: 0.5s;
}

.btn-delete {  
    background-color: #d1340c;
}

.btn-yes {
    background-color: #f75c37;
    border-color: #f75c37;
    padding: 5px 25px;
    border-radius: 20px; 
    border-style: none;    
}

.btn-yes:hover {
    background-color: #f75c37;   
    color: #eee;
    transition: 0.5s;
}

.btn-cancel {   
    background-color: #ddd;   
    border-color:#ddd;    
    padding: 5px 15px;
    border-radius: 20px;     
    margin-left: 30px;    
}

.btn-cancel:hover { 
    background-color: #ddd;  
    color: #f75c37; 
    transition: 0.5s;
}


/* Forms */

.custom-label {
    justify-content: start;   
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 30px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* Profile table */

.table {
    margin-bottom: 0;    
}

/* Footer */

.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
                url("https://res.cloudinary.com/dlcmr6krf/image/upload/v1697479173/static/img/barbiera-footer.ee8587278b90.jpg") no-repeat center top;     
    min-height: 300px;
    background-size: cover;   
    width: 100%;     
    bottom: 0;     
    justify-content: space-between;    
}

.footer_sign_in a {   
    margin-right: 0px;
    padding: 10px;
    text-align: center;
}

.menu-r {
    justify-content: end;    
}

.footer_content {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #cecece;          
}

.footer_content h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.footer_content > ul > li {
    list-style: none;
}


/* Reasign bootstrap classes */

.card-img-top {
    height: 300px;
    width: 250px;
    object-fit: cover;
} 

#navbarDropdown {
    text-align: end;    
}

.w-50 {
    width: 600px !important;
}


/* Media Queries */

@media only screen and (max-width: 320px) {   

    .td_buttons {
        padding: 2px !important;       
    } 
    
}

@media only screen and (max-width: 480px) {

    .container {
        padding: 3px;
    }

    .table {
        font-size: 12px !important;
    }

    .brand {
        display: none;
    }

    .logo {
        margin-left: 5px;
    }

   .ms-auto {
        margin-right: 5px !important;
   }

   .nav-r {
        padding-right: 0;
    }   

    .btn-table {
        padding: 5px;        
    } 
}


@media only screen and (max-width: 600px) {  

    .form-container {
        width: 100% !important;
    }
  }

  @media only screen and (max-width: 768px) {  

    .hero-container { 
        min-height: 150px;        
    }   

    .footer_content {
        margin: 10px 10px;
    }

    .footer_content h5 {
        font-size: 15px;
    }
    
    .footer_content > ul > li {
        font-size: 12px;
    }

    .sl-box {
        height: 90px;
        letter-spacing: 3px;
    }
   
    #slogan {  
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    .copyright {
        font-size: 12px;
    }

    .hero-container a, 
    .footer_sign_in a,
    .btn-profile a,
    .btn-reg { 
        font-size: 15px;    
        border-radius: 20px;
        margin-right: 10px;
        padding: 7px;   
    }
}
