{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7"> 
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="centered">Book your appointment</h3>
                </div>             
                
                <div class="card-body min-vh-100">
                    <form action="{% url 'save_form' %}" method="POST">
                        {% csrf_token %}
                        <label for="service">Services</label>
                        <select id='service' name="service" title="services" class="form-select form-select-sm mb-3"
                            hx-get="{% url 'barbers' %}"
                            hx-trigger="change"
                            hx-target="#barbers">
                            <option selected disabled>Choose the service</option>
                            {% for service in services %}
                            <option value="{{ service.id}}">{{ service.name }}</option>
                            {% endfor %}
                        </select>

                        <div id="barbers" class="my-4">
                            {% include 'barbers.html' %}
                        </div>

                        <div id="working_days" class="my-4">
                            {% include 'working_days.html' %}
                        </div>
                        <button class="btn btn-book" type="submit" id="submit">Book</button>
                        <a class="btn btn-cancel" href="{% url 'user_profile' %}">Cancel</a>
                    </form>
                </div>  
            </div>                
        </div>
    </div>
</div>
{% else %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7"> 
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h5 class="centered">Sorry, you have to <a href="{% url 'user_login' %}">log in</a> to make an appointment</h5>
                    </div>
                </div>                
            </div>
        </div>
    </div>             
{% endif %}
<script type="text/javascript" src="{% static 'js/button_enable.js' %}"></script>
{% endblock %}