{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7"> 
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header centered"><h3 class="centered">Your appointment: </h3>
                    <p><h6>Service:</h6> {{ booking.service }} </p><p><h6>Barber:</h6> {{ booking.barber }}</p><p><h6>Date and time:</h6> {{ booking.date|date:"l, j F, G:i" }} </p>
                    <h3 class="centered">Would you like to change it?</h3>
                </div>
                <div class="card-body min-vh-100">
                    <form action="{% url 'edit_booking' booking.id %}" method="POST">
                        {% csrf_token %}
                            <label for="service">Services</label>
                            <select id='service' name="service" title="services" class="form-select form-select-sm mb-3"
                                hx-get="{% url 'barbers' %}"
                                hx-trigger="change"
                                hx-target="#barbers">
                                <option selected disabled>Choose the service</option>
                                {% for service in services %}
                                    {% if service == booking.service %}
                                        <option  selected value="{{ service.id }}"> {{ service.name }} </option>
                                    {% else %}
                                        <option value="{{ service.id}}">{{ service.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <div id="barbers" class="my-4">
                                {% include 'barbers.html' with barber=booking.barber booking=booking %}
                            </div>
                            <div id="working_days" class="my-4">
                                {% include 'working_days.html' with booking=booking %}
                            </div>
                        <button class="btn btn-book btn-colour" type="submit" id="submit">Change</button>
                        <a class="btn btn-cancel" href="{% url 'user_profile' %}">Cancel</a>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/button_enable.js' %}"></script>

{% endblock content %}