{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-2">
    <div class="row centered">
       <div class="col-lg-12">
          <h3>About us</h3>
          <div class="col-lg-12">
             <hr>
          </div>
          <p>
             Welcome to Barbiere Maestro, where tradition meets modern style. Established with a passion for the art of grooming, 
             we've been proudly serving our community for 20 years, setting the standard for quality haircuts, beard trims, and grooming services.
          </p>
          <p>
             At Barbiere Maestro, we believe that a great haircut is not just about looking good; it's about feeling confident and empowered. 
             Our team of skilled barbers is dedicated to providing you with top-notch grooming services tailored to your unique style and preferences. 
             We take pride in our craft and continuously stay updated with the latest trends and techniques in men's grooming.
          </p>
       </div>
    </div>
 </div>
 <div class="container my-2 services" id="our_services">
   <div class="row centered">
      <h3>Our services</h3>
      <div class="col-lg-12">
         <hr>
      </div>
   </div>
   <div class="row centered">
     {% for service in services %}
      <div class="col-lg-4">
        <img class="icons" src="{{ service.image.url }}" alt="tool{{ service.id }}">        
         <h4>{{ service.name }}</h4>          
         <p class="service_description">{{ service.description}} <br><i>Price: € {{ service.price }}</i></p>         
       
      </div> 
     {% endfor %}      
   </div>
</div>   
<div class="container my-2" id="our_staff">
    <div class="row centered">
       <h3>Our staff</h3>
       <div class="col-lg-12">
          <hr>
       </div>
       {% for barber in barbers %}
         <div class="col-lg-4 d-flex">
            <div class="card">
               <div class="staff">
                  <img src="{{ barber.image.url }}" class="card-img-top" alt="Barber {{ barber.id }}">
               </div>
               <div class="card-body flex-fill d-flex flex-column">
                  <h5 class="card-title">{{ barber.name }}</h5>
                  {% autoescape off %}
                     {{ barber.description }}
                  {% endautoescape %}
                  <p class="card-text mt-auto">
                     <a href="{% url 'booking' %}" class="btn btn-reg">Book now</a>
                  </p>
               </div>            
            </div>
         </div>
      {% endfor %}
   </div>
</div> 
<div class="container my-2 gallery_wrapper" id="gallery">
    <div class="row centered d-flex justify-content-between">
       <h3>Gallery</h3>
       <div class="col-lg-12">
          <hr>
       </div>
    </div>
    <div class="row centered d-flex justify-content-between">
       <div class="col-xl-3 col-lg-6 gallery">
          <img class="rounded-3 gallery_img" src="{% static 'img/haircut1.jpg' %}" alt="haircut1">
       </div>
       <div class="col-xl-3 col-lg-6 gallery">
          <img class="rounded-3 gallery_img" src="{% static 'img/haircut2.jpg' %}" alt="haircut2">
       </div>
       <div class="col-xl-3 col-lg-6 gallery">
          <img class="rounded-3 gallery_img" src="{% static 'img/haircut3.jpg' %}" alt="haircut3">
       </div>
       <div class="col-xl-3 col-lg-6 gallery">
          <img class="rounded-3 gallery_img" src="{% static 'img/haircut4.jpg' %}" alt="haircut4">
       </div>
    </div>
    <div class="row centered d-flex justify-content-between">
      <div class="col-xl-3 col-lg-6 gallery">
         <img class="rounded-3 gallery_img" src="{% static 'img/haircut5.jpg' %}" alt="haircut5">
      </div>
      <div class="col-xl-3 col-lg-6 gallery">
         <img class="rounded-3 gallery_img" src="{% static 'img/haircut6.jpg' %}" alt="haircut6">
      </div>
      <div class="col-xl-3 col-lg-6 gallery">
         <img class="rounded-3 gallery_img" src="{% static 'img/haircut7.jpg' %}" alt="haircut7">
      </div>
      <div class="col-xl-3 col-lg-6 gallery">
         <img class="rounded-3 gallery_img" src="{% static 'img/haircut8.jpg' %}" alt="haircut8">
      </div>
   </div>
 </div>


{% endblock content %}