{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-2">
    <div class="row centered">
       <div class="col-lg-12">
          <h3>About us</h3>
          <div class="col-lg-12">
             <hr>
          </div>
          <p>
             Welcome to Barbiere Maestro, where tradition meets modern style. Established with a passion for the art of grooming, 
             we've been proudly serving our community for 20 years, setting the standard for quality haircuts, beard trims, and grooming services.
          </p>
          <p>
             At Barbiere Maestro, we believe that a great haircut is not just about looking good; it's about feeling confident and empowered. 
             Our team of skilled barbers is dedicated to providing you with top-notch grooming services tailored to your unique style and preferences. 
             We take pride in our craft and continuously stay updated with the latest trends and techniques in men's grooming.
          </p>
       </div>
    </div>
 </div>
 <div class="container my-2 services" id="our_services">
    <div class="row centered">
       <h3>Our services</h3>
       <div class="col-lg-12">
          <hr>
       </div>
    </div>
    <div class="row centered">
       <div class="col-lg-4">
          <img class="icons" src="{% static 'img/tool1.png' %}" alt="tool1"></img>
          <h4>Haircut, Short Hair</h4>
          <p>Experience the artistry of a short hair haircut, where our expert barbers craft clean lines and sharp styles to keep you looking your best.</p>
       </div>
       <div class="col-lg-4">
          <img class="icons" src="{% static 'img/tool4.png' %}" alt="tool4"></img>
          <h4>Haircut, Long Hair</h4>
          <p>Trust us to maintain the health and style of your long locks, with expert techniques that enhance your natural beauty.</p>
       </div>
       <div class="col-lg-4">
          <img class="icons" src="{% static 'img/tool5.png' %}" alt="tool5"></img>
          <h4>Beard Trim</h4>
          <p>Let us sculpt and refine your facial hair with precision, ensuring your beard or mustache reflects your unique style.</p>
       </div>
    </div>
    <div class="row centered">
       <br><br>
       <div class="col-lg-4">
          <img class="icons" src="{% static 'img/tool2.png' %}" alt="tool2"></img>
          <h4>Scissor Cut</h4>
          <p>Enjoy the finesse of a scissor cut, resulting in a natural, textured look that sets you apart from the rest.</p>
       </div>
       <div class="col-lg-4">
          <img class="icons" src="{% static 'img/tool3.png' %}" alt="tool3"></img>
          <h4>Head Shave</h4>
          <p>Embrace a sleek, smooth look with our head shave service, carried out with precision and care for a refreshing experience.</p>
       </div>
       <div class="col-lg-4">
          <img class="icons" src="{% static 'img/tool6.png' %}" alt="tool6"></img>
          <h4>Hair Wash and Styling</h4>
          <p>Rejuvenate your hair with our invigorating hair wash and styling, where we use premium products to create the perfect look for you.</p>
       </div>
    </div>
 </div>
 <div class="container my-2" id="our_staff">
    <div class="row centered">
       <h3>Our staff</h3>
       <div class="col-lg-12">
          <hr>
       </div>
       <div class="col-lg-4 d-flex">
          <div class="card">
             <div class="staff">
                <img src="{% static 'img/barber1.jpg ' %}" class="card-img-top" alt="Barber Crhis">
             </div>
             <div class="card-body flex-fill">
                <h5 class="card-title">Chris</h5>
                <p class="card-text">Experience: With over 15 years in the industry, Chris is a seasoned barber who has honed his 
                   skills through countless haircuts, shaves, and beard trims. He started his career in a classic barbershop 
                   and has since mastered the art of traditional grooming techniques.
                </p>
                <p class="card-text">
                   Description: Chris is a true classic barber with a passion for vintage styles. 
                   His clients appreciate his attention to detail and precision when it comes to delivering timeless looks. 
                   Whether you're seeking a dapper, old-school gentleman's cut or a well-groomed beard, 
                   Chris's experience and commitment to excellence will leave you looking sharp and sophisticated.
                </p>
                <a href="{% url 'booking' %}" class="btn btn-reg">Book now</a>
             </div>
          </div>
       </div>
       <div class="col-lg-4 d-flex">
          <div class="card">
             <div class="staff">
                <img src="{% static 'img/barber2.jpg ' %}" class="card-img-top" alt="Barber Dennis">
             </div>
             <div class="card-body flex-fill">
                <h5 class="card-title">Dennis</h5>
                <p class="card-text">Experience: Dennis has been in the industry for 10 years, during which he has developed a reputation for his creativity 
                   and versatility. He began his career in a high-end salon, specializing in modern and trendy haircuts before transitioning 
                   to a barbershop to broaden his skill set.
                </p>
                <p class="card-text">Description: Dennis brings a fresh and contemporary approach to men's grooming. His expertise in modern styles, 
                   fades, and intricate designs has garnered a loyal following among clients seeking a cutting-edge look. He's also known for his friendly 
                   and welcoming personality, making every visit to the barbershop an enjoyable experience.
                </p>
                <a href="{% url 'booking' %}" class="btn btn-reg">Book now</a>
             </div>
          </div>
       </div>
       <div class="col-lg-4 d-flex">
          <div class="card">
             <div class="staff"> 
                <img src="{% static 'img/barber3.jpg ' %}" class="card-img-top" alt="Barber Alex">
             </div>
             <div class="card-body flex-fill">
                <h5 class="card-title">Alex</h5>
                <p class="card-text">Experience: Alex is a rising star in the industry with 5 years of experience. He trained under renowned 
                   barbers and quickly made a name for himself with his passion for the craft and his dedication to continuous improvement.
                </p>
                <p class="card-text">Description: Alex is known for his enthusiasm and dedication to his clients. He has a natural talent for understanding 
                   their unique preferences and providing personalized grooming services. Alex specializes in creating clean, well-defined cuts and 
                   precise beard trims. His energy and attention to detail make each appointment with him a memorable grooming experience.
                </p>
                <a href="{% url 'booking' %}" class="btn btn-reg">Book now</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="container my-2 gallery_wrapper" id="gallery">
    <div class="row centered d-flex justify-content-between">
       <h3>Gallery</h3>
       <div class="col-lg-12">
          <hr>
       </div>
    </div>
    <div class="row centered d-flex justify-content-between">
       <div class="col-xl-3 col-lg-6 gallery">
          <img class="rounded-3" src="{% static 'img/haircut1.jpg' %}" alt="haircut1">
       </div>
       <div class="col-xl-3 col-lg-6 gallery">
          <img class="rounded-3" src="{% static 'img/haircut2.jpg' %}" alt="haircut2">
       </div>
       <div class="col-xl-3 col-lg-6 gallery">
          <img class="rounded-3" src="{% static 'img/haircut3.jpg' %}" alt="haircut3">
       </div>
       <div class="col-xl-3 col-lg-6 gallery">
          <img class="rounded-3" src="{% static 'img/haircut4.jpg' %}" alt="haircut4">
       </div>
    </div>
 </div>


{% endblock content %}