{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
                <div class="card-header"><h3 class="centered">Manage your appointments</h3>
                </div> 
                    <table class="table table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Service</th>
                            <th scope="col">Barber</th>
                            <th scope="col">Date and time</th>
                            <th scope="col"></th> 
                            <th scope="col"></th>                     
                        </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td> {{ booking.service }}</td>
                                    <td>{{ booking.barber  }}</td>
                                    <td>{{ booking.date }}</td>
                                    <td class="btn-edit centered"><a href="#">Edit</a></td>
                                    <td class="btn-delete centered"><a href="{% url 'delete' booking.id %}">Delete</a></td>
                                </tr>
                            {% endfor %} 
                            <tr>
                                <td colspan="5" class="btn-profile align-bottom centered">
                                    <a href="{% url 'booking' %}">Book an appointment</a>
                                </td>
                            </tr>                   
                        </tbody>
                    </table>
                    
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock content %}