<label for="wd">Dates and times</label>
<select id="wd" name="working_days" title="visit_time" class="form-select form-select-sm mb-3" onchange="stateHandle2()">
    {% if booking.date %}
        <option selected disabled value='{{ booking.date }}'>Previously selected date: {{ booking.date|date:"l, j F, Y  G:i" }}</option>
    {% else %}
        <option selected disabled>Choose the date and time</option>
    {% endif %}
    {% for visit_time in visit_times %} 
        <option value='{{ visit_time }}'>{{ visit_time }} </option>  
    {% endfor %}
</select>

<script type="text/javascript">
    function stateHandle2() {
        working_days = document.getElementById("wd")
        if(working_days.selectedIndex > 0)  {
            button.disabled = false; 
        }        
    }
</script>